# App Config
PROJECT_NAME="FastAPI Clean Architecture API"
ENVIRONMENT=development
API_V1_STR=/api/v1

# Database Configuration (PostgreSQL)
POSTGRES_SERVER=db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=app_db
POSTGRES_PORT=5432

# Cache Configuration (Redis)
REDIS_HOST=redis
REDIS_PORT=6379

# Security
SECRET_KEY=yoursecretkeyhere
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

